KN_ORACLE_USER=
KN_ORACLE_PASSWORD=
KN_ORACLE_DSN=localhost:10522/EPRO.cman.prim
KN_ORACLE_CLIENT_LIB_DIR=
PROD_USER=
PROD_PASSWORD=
PROD_HOST=localhost
PROD_PORT=
PROD_DATABASE=fmp_data_gurs
PROD_METADATA_DATABASE=fmp
