# KN Oracle source
KN_USER=scott
KN_PASSWORD=tiger
KN_HOST=localhost
KN_PORT=10522
KN_SERVICE=EPRO.cman.prim
# Required only when KN requires native encryption.
KN_ORACLE_CLIENT_LIB_DIR=/opt/oracle/instantclient
