# KN Oracle source
KN_USER=scott
KN_PASSWORD=tiger
KN_HOST=localhost
KN_PORT=10522
KN_SERVICE=EPRO.cman.prim
# Required only when KN requires native encryption.
# KN_ORACLE_CLIENT_LIB_DIR=/opt/oracle/instantclient

# LIFT staging PostgreSQL
STAG_USER=myuser
STAG_PASSWORD=mypassword
STAG_HOST=localhost
STAG_PORT=5432
STAG_DATABASE=fmp_data_gurs

# LIFT production PostgreSQL
PROD_USER=myuser
PROD_PASSWORD=mypassword
PROD_HOST=localhost
PROD_PORT=5432
PROD_DATABASE=fmp_data_gurs
